@(request: play.mvc.Http.Request, loginForm: play.data.Form[forms.LoginForm], oauthState: String)
@import play.api.Play

@base("Login", request, null) {
	<form class="form-horizontal solo-form" id="loginForm" method="post" action="@controllers.routes.Application.doLogin()" enctype="multipart/form-data">
		<h3>Welcome!</h3>
		
		<p>
			Welcome to <b>OpenIdeate</b> - an open source platform through which you
			can pool and share ideas with others. At present, we can only allow logging
			in via GitHub.
		</p>
		
		<br />
		
		<a class="btn btn-lg btn-block btn-social btn-github"
		 	href='https://github.com/login/oauth/authorize?scope=user:email&client_id=@Play.current.configuration.getString("oauth.github.clientid")&state=@oauthState'>
			<i class="fa fa-github"></i> Sign in with GitHub
		</a>
		
	</form>
}