@(request: play.mvc.Http.Request)

@base("Login", request) {
	<form class="form-horizontal" id="loginForm">
		<h3>Please sign in</h3>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="email" class="form-control" id="inputEmail" placeholder="Email" />
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-12">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" />
			</div>
		</div>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		
		<div class="form-group">
			<div class="col-sm-12">
				<br />
				Don't have an account yet? <a href="#">Sign up now!</a>
			</div>
		</div>
	</form>
}