@(request: play.mvc.Http.Request, user: models.User)
@footer = {
	<script>
		$(document).ready(function() {
			window.setTimeout(function() {
				window.location = "@controllers.routes.Application.index()";
			}, 3000)
		});
	</script>
}

@base("Logged In", request, user, null, footer) {
	<div class="solo-form">
		<h3>Successfully logged in!</h3>
		<p>
			Thank you for logging in - your primary e-mail address has been
			recorded as <b>@user.getEmail()</b>. In 3 seconds' time we will
			redirect you to your idea feed...
		</p>
		<p>
			If you are not redirected, please <a href="@controllers.routes.Application.index()">click here</a>.
		</p>
	</div>
}