@(request: play.mvc.Http.Request, user: models.User)
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-dateFormat.min.js"))'></script>
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown-it.min.js"))'></script>
<script>
	var usersById = {};
	var reloadIdeas;
	var md = window.markdownit();
	var ideasByTag = null;
	var curPage = 0, ideasPerPage = 25;
	
	function ajaxError(xhr, status, err) {
		window.alert('An error occurred while attempting to communicate with the server: '+status);
	}

	function loadAllIdeas() {
		$.ajax({
			url: '@controllers.api.routes.IdeaController.listIdeas()?pageNo='+curPage+'&pageSize='+ideasPerPage,
			accepts: 'application/json',
			dataType: 'json',
			method: 'GET'
		}).done(function(data) {
			console.log("Received idea listing: "+JSON.stringify(data));
			populateIdeaListing('#ideaListing', data);
		}).fail(ajaxError);
		
		reloadIdeas = loadAllIdeas;
	}
	
	function loadMyIdeas() {
		$.ajax({
			url: '@controllers.api.routes.IdeaController.listIdeas()?creatorId=@user.getId()&pageNo='+curPage+'&pageSize='+ideasPerPage,
			accepts: 'application/json',
			dataType: 'json',
			method: 'GET'
		}).done(function(data) {
			console.log("Received my ideas listing: "+JSON.stringify(data));
			populateIdeaListing('#ideaListing', data);
		}).fail(ajaxError);
		
		reloadIdeas = loadMyIdeas;
	}
	
	function loadMyStarredIdeas() {
		$.ajax({
			url: '@controllers.api.routes.IdeaController.listIdeas()?starredById=@user.getId()&pageNo='+curPage+'&pageSize='+ideasPerPage,
			accepts: 'application/json',
			dataType: 'json',
			method: 'GET'
		}).done(function(data) {
			console.log("Received my ideas listing: "+JSON.stringify(data));
			populateIdeaListing('#ideaListing', data);
		}).fail(ajaxError);
		
		reloadIdeas = loadMyStarredIdeas;
	}
	
	function loadIdeasByTag(tag) {
		if (!tag) {
			tag = ideasByTag;
		}
		
		$.ajax({
			url: '@controllers.api.routes.IdeaController.listIdeas()?tags='+tag+'&pageNo='+curPage+'&pageSize='+ideasPerPage,
			accepts: 'application/json',
			dataType: 'json',
			method: 'GET'
		}).done(function(data) {
			console.log("Received my ideas listing: "+JSON.stringify(data));
			populateIdeaListing('#ideaListing', data);
		}).fail(ajaxError);
		
		reloadIdeas = loadIdeasByTag;
		ideasByTag = tag;
	}
	
	function getIdea(id, callback) {
		$.ajax({
			url: '@controllers.api.routes.IdeaController.getIdea(-1)'.replace('-1', id),
			accepts: 'application/json',
			dataType: 'json',
			method: 'GET'
		}).done(function(data) {
			console.log("Received idea details: "+JSON.stringify(data));
			callback(data);
		}).fail(ajaxError);
	}
	
	function ideaToggleStarred(ctrl, ideaId) {
		if ($(ctrl+' #idea'+ideaId).length) {
			// fire off the ajax request to toggle the starring of the idea
			$.ajax({
				url: '@controllers.api.routes.IdeaController.toggleStar(-1)'.replace('-1', ideaId),
				accepts: 'application/json',
				dataType: 'json',
				method: 'POST'
			}).done(function(data) {
				console.log('Received data after toggling idea starred status: '+JSON.stringify(data));
				// if we've successfully starred the idea
				updateIdea(ctrl, data);
			}).fail(ajaxError);
		}
	}
	
	function ideaToggleUpvote(ctrl, ideaId) {
		if ($(ctrl+' #idea'+ideaId).length) {
			// fire off the ajax request to toggle the upvoting of the idea
			$.ajax({
				url: '@controllers.api.routes.IdeaController.toggleUpvote(-1)'.replace('-1', ideaId),
				accepts: 'application/json',
				dataType: 'json',
				method: 'POST'
			}).done(function(data) {
				console.log('Received data after toggling idea upvote status: '+JSON.stringify(data));
				// if we've successfully upvoted the idea
				updateIdea(ctrl, data);
			}).fail(ajaxError);
		}
	}
	
	function ideaToggleDownvote(ctrl, ideaId) {
		if ($(ctrl+' #idea'+ideaId).length) {
			// fire off the ajax request to toggle the downvoting of the idea
			$.ajax({
				url: '@controllers.api.routes.IdeaController.toggleDownvote(-1)'.replace('-1', ideaId),
				accepts: 'application/json',
				dataType: 'json',
				method: 'POST'
			}).done(function(data) {
				console.log('Received data after toggling idea downvote status: '+JSON.stringify(data));
				updateIdea(ctrl, data);
			}).fail(ajaxError);
		}
	}
	
	/**
	 * Updates the UI for the specified idea.
	 */
	function updateIdea(ctrl, idea) {
		console.log('Attempting to update UI for idea with ID: '+idea.id);
		
		// update the various counts
		$(ctrl+' #idea'+idea.id+' .upvote-count').text(idea.upVotes);
		$(ctrl+' #idea'+idea.id+' .downvote-count').text(idea.downVotes);
		$(ctrl+' #idea'+idea.id+' .star-count').text(idea.stars);
		
		// update the buttons' status
		if (idea.upvoted) {
			$(ctrl+' #idea'+idea.id).attr("upvoted", "true");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').addClass('btn-success');
			// make sure it's not downvoted
			$(ctrl+' #idea'+idea.id).attr("downvoted", "false");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').removeClass('btn-danger');
		} else if (idea.downvoted) {
			$(ctrl+' #idea'+idea.id).attr("downvoted", "true");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').addClass('btn-danger');
			// make sure it's not upvoted
			$(ctrl+' #idea'+idea.id).attr("upvoted", "false");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').removeClass('btn-success');
		} else {
			$(ctrl+' #idea'+idea.id).attr("upvoted", "false");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').removeClass('btn-success');
			$(ctrl+' #idea'+idea.id).attr("downvoted", "false");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').removeClass('btn-danger');
		}
		
		if (idea.starred) {
			$(ctrl+' #idea'+idea.id).attr("starred", "true");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .star').addClass('btn-warning');
		} else {
			$(ctrl+' #idea'+idea.id).attr("starred", "false");
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .star').removeClass('btn-warning');
		}
		
		// update the idea's content
		$(ctrl+' #idea'+idea.id+' h4 .text').text(idea.title);
		var updated = Date.parse(idea.updated);
		$(ctrl+' #idea'+idea.id+' .idea-body .author .updated').text($.format.date(updated, "d MMM yyyy HH:mm"));
		$(ctrl+' #idea'+idea.id+' .details').html(md.render(idea.details));
	}
	
	function deleteIdea(ctrl, id) {
		if (window.confirm("Are you sure you want to delete this idea?")) {
			// fire off the ajax request to delete the idea
			console.log('Attempting to delete idea with ID: '+id);
			$.ajax({
				url: '@controllers.api.routes.IdeaController.delete(-1)'.replace('-1', id),
				accepts: 'application/json',
				dataType: 'json',
				method: 'DELETE'
			}).done(function(data) {
				console.log('Successfully deleted idea with ID: '+id);
				// remove the idea from the listing, if it's there
				if ($(ctrl+' #idea'+id).length) {
					$(ctrl+' #idea'+id).remove();
				}
			}).fail(ajaxError);
		}
	}
	
	function populateIdeaListing(ctrl, data) {
		// if we're loading the very first page,
		// clear any existing info in the listing
		if (data.pageNo == 0) {
			$(ctrl).html("");
			if (data.total == 0) {
				$(ctrl).html("No ideas yet.");
				return;
			}
		}
		// otherwise we're just loading more ideas
		
		var idea, updated;
		
		for (var i=0;i<data.ideas.length;i++) {
			idea = data.ideas[i];
			
			// check if we already have this idea listed
			if ($(ctrl+' #idea'+idea.id).length) {
				console.log('Idea with ID '+idea.id+' already exists - skipping');
				continue;
			}
			
			$(ctrl).append('<div class="row idea" id="idea'+idea.id+'" idea-id="'+idea.id+'">'+
					'<div class="col-md-2 idea-avatar-small">'+
						'Avatar'+
					'</div>'+
					'<div class="col-md-10 idea-body">'+
						'<h4><span class="text"></span></h4>'+
						'<p class="author">By <a class="name" href="#"></a>, <span class="updated"></span></p>'+
						'<p class="details"></p>'+
						'<p class="tags"></p>'+
						'<p class="comment-box"></p>'+
						'<p class="comments"></p>'+
					'</div>'+
				'</div>');
			$(ctrl+' #idea'+idea.id+' h4 .text').text(idea.title);
			$(ctrl+' #idea'+idea.id+' h4').append('&nbsp;<span class="badge"><span class="glyphicon glyphicon-thumbs-up upvote-count">'+idea.upVotes+'</span></span>');
			$(ctrl+' #idea'+idea.id+' h4').append('&nbsp;<span class="badge"><span class="glyphicon glyphicon-thumbs-down downvote-count">'+idea.downVotes+'</span></span>');
			$(ctrl+' #idea'+idea.id+' h4').append('&nbsp;<span class="badge"><span class="glyphicon glyphicon-star star-count">'+idea.stars+'</span></span>');
			
			updated = Date.parse(idea.updated);
			console.log('Idea update: '+updated);
			$(ctrl+' #idea'+idea.id+' .idea-body .author .updated').text($.format.date(updated, "d MMM yyyy HH:mm"));
			// render the Markdown version of the idea details
			$(ctrl+' #idea'+idea.id+' p.details').html(md.render(idea.details));
			$.each(idea.tags, function(index, tag) {
				$(ctrl+' #idea'+idea.id+' p.tags').append('&nbsp;<a href="#" class="tag'+index+'"><span class="label label-primary"></span></a>');
				$(ctrl+' #idea'+idea.id+' p.tags .tag'+index).attr('href', '@controllers.routes.Application.listIdeasByTag("")'+tag);
				$(ctrl+' #idea'+idea.id+' p.tags .tag'+index+' span').text(tag);
			});
			$(ctrl+' #idea'+idea.id+' .idea-body').append('<p class="buttons"></p>');
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons').append(
					'<button type="button" class="btn btn-sm upvote" arial-label="Upvote" title="Upvote">'+
						'<span class="glyphicon glyphicon-thumbs-up"></span>'+
					'</button>&nbsp;'+
					'<button type="button" class="btn btn-sm downvote" arial-label="Downvote" title="Downvote">'+
						'<span class="glyphicon glyphicon-thumbs-down"></span>'+
					'</button>&nbsp;'+
					'<button type="button" class="btn btn-sm fork" arial-label="Fork" title="Fork">'+
						'<span class="glyphicon glyphicon-duplicate"></span>'+
					'</button>&nbsp;'+
					'<button type="button" class="btn btn-sm star" arial-label="Star" title="Star">'+
						'<span class="glyphicon glyphicon-star"></span>'+
					'</button>'+
				'</p>');
			
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .star').click(function() {
				ideaToggleStarred(ctrl, idea.id);
			});
			
			// check if the idea is starred by this user
			if (idea.starred) {
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .star').attr('starred', "true");
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .star').addClass("btn-warning");
			}
			
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').click(function() {
				ideaToggleUpvote(ctrl, idea.id);
			});
			
			// check if the idea was upvoted by this user
			if (idea.upvoted) {
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').attr('upvoted', "true");
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .upvote').addClass("btn-success");
			}
			
			$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').click(function() {
				ideaToggleDownvote(ctrl, idea.id);
			});
			
			// check if the idea was downvoted by this user
			if (idea.downvoted) {
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').attr('downvoted', "true");
				$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .downvote').addClass("btn-danger");
			}
			
			// get the user's details
			getUserById(idea.creatorId, idea, function(user, idea) {
				$(ctrl+' #idea'+idea.id+' .idea-body .author .name').text(user.name);
				$(ctrl+' #idea'+idea.id+' .idea-avatar-small').html('<img />');
				$(ctrl+' #idea'+idea.id+' .idea-avatar-small img').attr('src', user.pictureUrl);
				$(ctrl+' #idea'+idea.id+' .idea-avatar-small img').attr('title', user.name);
				$(ctrl+' #idea'+idea.id+' .idea-avatar-small img').addClass('img-rounded');
				
				// if this is our currently logged in user
				if (user.id == @user.getId()) {
					$(ctrl+' #idea'+idea.id+' .idea-body p.buttons').prepend(
							'<button type="button" class="btn btn-sm btn-danger delete" arial-label="Delete" title="Delete">'+
								'<span class="glyphicon glyphicon-remove"></span>'+
							'</button>&nbsp;'
							);
					$(ctrl+' #idea'+idea.id+' .idea-body p.buttons .delete').click(function() {
						deleteIdea(ctrl, idea.id);
					});
				}
			});
		}
		
		// delete any existing "more" buttons
		$(ctrl+' #moreButton').remove();
		if (((data.pageNo+1) * data.pageSize) < data.total) {
			$(ctrl).append('<div class="row" id="moreButton"><div class="col-md-12"><button type="button" class="btn btn-lg btn-block btn-primary">More</button></div></div>');
			$(ctrl+' #moreButton button').click(function(e) {
				curPage++;
				console.log("Now loading more data for page: "+curPage);
				reloadIdeas();
			});
		}
	}
	
	function getUserById(id, ideaId, callback) {
		console.log('Attempting to get user by ID: '+id);
		// if we've got a cached version of the user
		if (usersById.hasOwnProperty(id)) {
			console.log('Cached users: '+JSON.stringify(usersById));
			// return the cached version
			callback(usersById[id], ideaId);
		} else {
			// load the user
			$.ajax({
				url: '@controllers.api.routes.UserController.getUserById(-1)'.replace('-1', id),
				accepts: 'application/json',
				dataType: 'json',
				method: 'GET'
			}).done(function(data) {
				console.log('Received user data: '+JSON.stringify(data));
				// cache the user object
				usersById[id] = data;
				callback(data, ideaId);
			}).fail(ajaxError);
		}
	}
	
	function newIdea() {
		if ($('#titleInput').val().length < 1) {
			window.alert("Please enter a title for your idea");
		} else
		if ($('#detailsInput').val().length < 1) {
			window.alert("Please enter a detailed description of your idea");
		} else
		if ($('#tagsInput').val().length < 1) {
			window.alert("Please enter at least one tag for your idea");
		} else {
			$.ajax({
				url: '@controllers.api.routes.IdeaController.create()',
				accepts: 'application/json',
				contentType: 'application/json',
				data: JSON.stringify({
					title: $('#titleInput').val(),
					details: $('#detailsInput').val(),
					tags: $('#tagsInput').val().split(",")
				}),
				dataType: 'json',
				method: 'POST'
			}).done(function(data) {
				console.log("Successfully created idea: "+JSON.stringify(data));
				// clear the new idea input
				$('#titleInput').val('');
				$('#detailsInput').val('');
				$('#tagsInput').val('');
				// reset the page counter
				curPage = 0;
				reloadIdeas();
			}).fail(ajaxError);
		}
	}
</script>