{% load timesince %}
<table class="listItem">
    <tr>
        <td><div class="avatar"></div></td>
        <td class="listItemText">
            <a href="#">{{ item.latest_version_summary }}</a>:
            {% for field in item.get_modified_fields %}
                {% if forloop.last and not forloop.first %}and {% endif %}{{ field }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            last modified by
            <a href="#">{{ item.latest_version.created_by }}</a>.
            <div class="listItemStatus">
                {{ item.latest_version.created|timesince_human }}
            </div>
        </td>
    </tr>
</table>