body {
	padding-top: 70px;
	background-color: #eee;
}

.solo-form {
	margin: 0 auto;
	max-width: 400px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
}

	.solo-form h3 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
.bg {
	border-radius: 10px;
	padding: 30px;
	background-color: #fff;
}

.idea {
	padding: 10px;
	border: 1px solid #eee;
	margin: 30px;
	border-radius: 10px;
}